@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap");

.btn {
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

/* BUTTON STATE PRIMARY*/
.btn-primary-rest {
  color: white;
  background-color: #69984c;
}
.btn-primary-hover {
  color: white;
  background-color: #78a25e;
}
.btn-primary-onclick {
  color: white;
  background-color: #547a3d;
}
.btn-primary-disabled {
  color: #919191;
  background-color: #f8f8f8;
}

/* BUTTON STATE SECONDARY */
.btn-secondary-rest {
  border: 1px solid #6e6e6e;
  color: #201f1e;
  background-color: transparent;
}
.btn-secondary-hover {
  border: 1px solid #6e6e6e;
  color: #201f1e;
  background-color: #f1f1f1;
}
.btn-secondary-onclick {
  border: 1px solid #6e6e6e;
  color: #201f1e;
  background-color: #e1e1e1;
}
.btn-secondary-disabled {
  color: #919191;
  background-color: #f1f1f1;
}

/* BUTTON STATE TERTIARY */
.btn-tertiary-rest {
  background-color: transparent;
  color: #0078d4;
}
.btn-tertiary-hover {
  background-color: #f8f8f8;
  color: #0078d4;
}
.btn-tertiary-onclick {
  background-color: #f1f1f1;
  color: #0078d4;
}
.btn-tertiary-disabled {
  background-color: transparent;
  color: #acacac;
}

/* BUTTON STATE DANGER */
.btn-danger-rest {
  color: white;
  background-color: #d92c2c;
}
.btn-danger-hover {
  color: white;
  background-color: #e05454;
}
.btn-danger-onclick {
  color: white;
  background-color: #8b1c1c;
}
.btn-danger-disabled {
  color: #919191;
  background-color: #ffebeb;
}

/* BUTTON SIZE */
.btn-small {
  padding: 6px 8px;
  height: 24px;
}
.btn-medium {
  padding: 6px 16px;
  height: 32px;
}
.btn-large {
  padding: 6px 20px;
  height: 40px;
}

/* BUTTON TYPE */
.btn-prepend {
  font-size: 14px;
  padding-right: 4px;
  align-items: center;
  justify-content: center;
}
.btn-append {
  font-size: 14px;
  padding-left: 60px;
  align-items: center;
  justify-content: center;
}
