@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap");

.typography {
  display: inline-block;
  color: #201f1e;
  font-style: normal;
  font-weight: normal;
  font-family: "IBM Plex Sans", sans-serif;
}

.bold {
  font-weight: 500;
}

.accent {
  color: #69984c;
}

.metadata-small {
  font-size: 10px;
  line-height: 12px;
}

.metadata-medium {
  font-size: 12px;
  line-height: 16px;
}

.body-text {
  font-size: 14px;
  line-height: 20px;
}

.subject-title {
  font-size: 16px;
  line-height: 22px;
}

.panel-header {
  font-size: 18px;
  line-height: 24px;
}

.panel-header-large {
  font-size: 20px;
  line-height: 28px;
}

.page-title {
  font-size: 28px;
  line-height: 36px;
}

.hero-title-small {
  font-size: 32px;
  line-height: 40px;
}

.hero-title-large {
  font-size: 42px;
  line-height: 52px;
}

.hero-title-extralarge {
  font-size: 68px;
  line-height: 76px;
}
