@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap");

.typography {
  display: inline-block;
  color: #201f1e;
  font-style: normal;
  font-weight: normal;
  font-family: "IBM Plex Sans", sans-serif;
}

.bold {
  font-weight: 500;
}

.accent {
  color: #69984c;
}

.metadata-01 {
  font-size: 10px;
  line-height: 12px;
}

.metadata-02 {
  font-size: 12px;
  line-height: 16px;
}

.body-short-01 {
  font-size: 14px;
  line-height: 16px;
}

.body-short-02 {
  font-size: 16px;
  line-height: 20px;
}

.body-long-01 {
  font-size: 14px;
  line-height: 20px;
}

.body-long-02 {
  font-size: 16px;
  line-height: 24px;
}

.heading-01 {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

.heading-02 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.heading-03 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.heading-04 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.heading-05 {
  font-size: 28px;
  line-height: 32px;
}

.heading-06 {
  font-size: 32px;
  line-height: 40px;
}

.heading-07 {
  font-size: 42px;
  line-height: 56px;
}

.heading-08 {
  font-size: 54px;
  line-height: 64px;
}
