@use 'colors';
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap");

$weight-regular: 400;
$weight-bold: 500;

@mixin body-regular01 {
    font-weight: $weight-regular;
    font-size: 14px;
    line-height: 16px;
}
/*This is the mapped css fles, do not change anything inside this file. 
Make changes in source sass files (button.scss) instead*/
/* use "sass --watch sass-modules\button.scss:src\components\Button\button.css" 
when you try to make changes inside button.scss to automatically update 
the button.css file */
.btn {
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  font-family: "IBM Plex Sans", sans-serif;
  @include body-regular01;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

/* BUTTON STATE PRIMARY*/
.btn-primary {
  &-rest {
    color: colors.$gray0;
    background-color: colors.$empofarm-primary;
  }
  &-hover {
    color: colors.$gray0;
    background-color: colors.$empofarm-tint01;
  }
  &-onclick {
    color: colors.$gray0;
    background-color: colors.$empofarm-shade03;
  }
  &-disabled {
    color: colors.$gray0;
    background-color: colors.$empofarm-tint01;
  }
}

/* BUTTON STATE SECONDARY */
.btn-secondary {
  &-rest {
    border: 1px solid colors.$gray500;
    background-color: transparent;
  }
  &-hover {
    border: 1px solid colors.$gray500;
    color: #201f1e;
    background-color: #f1f1f1;
  }
  &-onclick {
    border: 1px solid colors.$gray500;
    color: colors.$gray800;
    background-color: colors.$gray25;
  }
  &-disabled {
    color: colors.$gray400;
    background-color: colors.$gray50;
  }
}

/* BUTTON STATE TERTIARY */
.btn-tertiary-rest {
  background-color: transparent;
  color: #0078d4;
}
.btn-tertiary-hover {
  background-color: #f8f8f8;
  color: #0078d4;
}
.btn-tertiary-onclick {
  background-color: #f1f1f1;
  color: #0078d4;
}
.btn-tertiary-disabled {
  background-color: transparent;
  color: #acacac;
}

/* BUTTON STATE DANGER */
.btn-danger-rest {
  color: white;
  background-color: #d92c2c;
}
.btn-danger-hover {
  color: white;
  background-color: #e05454;
}
.btn-danger-onclick {
  color: white;
  background-color: #8b1c1c;
}
.btn-danger-disabled {
  color: #919191;
  background-color: #ffebeb;
}

/* BUTTON SIZE */
.btn-small {
  padding: 6px 8px;
  height: 24px;
}
.btn-medium {
  padding: 6px 16px;
  height: 32px;
}
.btn-large {
  padding: 6px 20px;
  height: 40px;
}

/* BUTTON TYPE */
.btn-prepend {
  font-size: 14px;
  padding-right: 4px;
  align-items: center;
  justify-content: center;
}
.btn-append {
  font-size: 14px;
  padding-left: 60px;
  align-items: center;
  justify-content: center;
}
