$empofarm-tint07: #e1eadb;
$empofarm-tint06: #d2e0c9;
$empofarm-tint05: #b4cca6;
$empofarm-tint04: #a5c194;
$empofarm-tint03: #96b782;
$empofarm-tint02: #87ad70;
$empofarm-tint01: #78a25e;
$empofarm-primary: #69984c;
$empofarm-primary-shade01: #5f8944;
$empofarm-shade02: #547a3d;
$empofarm-shade03: #4a6a35;

$fansapp-tint06: #fbf2e4;
$fansapp-tint05: #f7debc;
$fansapp-tint04: #f2c992;
$fansapp-tint03: #edb46a;
$fansapp-tint02: #e9a552;
$fansapp-tint01: #e49746;
$fansapp-primary: #df8d42;
$fansapp-primary-shade01: #d7803e;
$fansapp-shade02: #cf733a;
$fansapp-shade03: #c16036;

$gray0: #ffffff;
$gray25: #f8f8f8;
$gray50: #f1f1f1;
$gray100: #e1e1e1;
$gray200: #c8c8c8;
$gray300: #a19f9d;
$gray400: #919191;
$gray500: #605e5c;
$gray600: #404040;
$gray700: #323130;
$gray800: #292929;
$gray900: #212121;
$gray950: #141414;

$warning-tint04: #fff2c8;
$warning-tint03: #ffebab;
$warning-tint02: #fede78;
$warning-tint01: #ffd349;
$warning-primary: #ffd335;
$warning-primary-shade01: #dcab00;
$warning-shade02: #8a6b00;
$warning-shade03: #745300;

$danger-tint04: #ffebeb;
$danger-tint03: #facfcf;
$danger-tint02: #eb9191;
$danger-tint01: #e05454;
$danger-primary: #d92c2c;
$danger-primary-shade01: #bb2424;
$danger-shade02: #8b1c1c;
$danger-shade03: #6a1616;

$safe-tint03: #80d8ff;
$safe-tint02: #40c4ff;
$safe-tint01: #00b0ff;
$safe-primary: #0091ea;
